:root{
    --color-text: #202020;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../assets/fonts/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

.help-page {
  min-height: 100vh;
  background-color: #836C5A;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.help-heading {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: clamp(5rem, 12vw, 12rem);
  letter-spacing: -0.08em;
  color: var(--color-text);
  line-height: 1;
  margin: 0;
}

.description {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: clamp(5rem, 12vw, 12rem);
  letter-spacing: -0.08em;
  color: var(--color-text);
  line-height: 1;
  margin: 0;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: clamp(2rem, 10vw, 14rem);
  width: 90%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
}

.contact-name {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: clamp(1.5rem, 3vw, 3rem);
  letter-spacing: -4px;
  color: var(--color-text);
  text-align: center;
  
}

.contact-role {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  font-size: clamp(0.9rem, 1.5vw, 1.5rem);
  text-align: center;
  color: var(--color-text);
}

.contact-phone,
.contact-mail {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: clamp(0.8rem, 1.5vw, 1.5rem);
  color: var(--color-text);
  text-align: center;
}

.contact-mail {
  text-decoration: none;
}

.contact-mail:hover {
  text-decoration: underline;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background: #202020;
  display: flex;
  align-items: center;
  justify-content: center;
}

.help-footer p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: -2px;
  color: #836C5A;
}